{
  "extends": ["airbnb"],
  "rules": {
    "no-console": "warn",
    "no-unused-vars": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/react-in-jsx-scope": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "jsx-quotes": "off"
  }
}
